body {
	margin: 0 auto;
	color: white;
}

.container {
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	-webkit-flex-flow; row wrap;
}

.c1 {
	background-color: rgb(97, 82, 119);
	position: absolute;
	height: 100vh;
	width: 250px;

	transition: transform .3s ease-out;
	-webkit-transition: -webkit-transform .3s ease-out;
	transform: translate(-250px, 0);
	-webkit-transform: translate(-250px, 0);

	z-index: 1;
}

.c1.open {
	transform: translate(0,0);
	-webkit-transform: translate(0,0);
}

.c2 {
	background-color: rgb(105, 65, 249);
	width: 100%;
	height: 100vh;
	position: absolute;
}

