body {
	margin: 0 auto;
}

.container {
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	-webkit-flex-flow; row wrap;
}

.c1, .c2, .c3, .container-inner {
	width: 100%;
}

.c1 {
	background-color: #979798;
	height: 100px;
}

.c2 {
	background-color: #32367A;
	height: 400px;
}

.c3 {
	background-color: #13E13C;
	height: 400px;
}

@media (min-width: 500px) {
	.c1 {
		height: 175px;
	}
}

@media (min-width: 800px) {
	.container {
		width: 800px;
		margin: 0 auto;
	}

	.c1 {
		height: 100vh;
		width: 30%;
	}

	.container-inner {
		width: 70%;
	}
}


